#Quartus 2 sys files
/Quartus\ 2\ proj/db
/Quartus\ 2\ proj/incremental_db
/Quartus\ 2\ proj/output_files
*.qsf
*.qws
*.qpf

/Quartus\ 2\ proj/output_files/!nbitcomparator.sof

#ModelSim files
/ModelSim/work
/ModelSim/transcript
*.bak
*.mti
*.mpf
*.wlf
