#Quartus 2 sys files
'./Quartus 2 proj/db/'*
./Quartus\ 2\ proj/incremental_db/*
./Quartus\ 2\ proj/*.bak
./Quartus\ 2\ proj/*.q*
*.qsf
*.qws
*.qpf
#ModelSim files
./ModelSim/work/*
./ModelSim/comparator_tb1/*
./ModelSim/_temp/*
./ModelSim/doublencomparator/*
*.bak
*.mti
*.mpf
*.wlf